$text-color-mid: #536280;
$text-color-dark: #e6eeff;
$card-bg: #1a2233;
$mac-red: #ed6a5e;
$mac-yellow: #f6be4f;
$mac-green: #62c554;
$color-main: #8000ff;
$color-accent: #33ff88;
$color-text: #3a4459;
$hover-btn-light: #f0f1f5;
$font-main: "Montserrat Alternates";
